@mixin input-group {
  label {
    display: block;
    font-size: 16px;
    margin-bottom: 0.5rem;
  }

  input {
    @include text-input;
    width: 100%;
  }
}

@mixin text-input {
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid $dark-gray-1;
  font-size: 16px;
  border-radius: 0;
  color: #000;
  background-color: #fff;
}

@mixin select-input {
  @include text-input;
  border-radius: 0;

  // Removes issue with Mac OS Chrome not displaying padding
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@mixin image-input {
  cursor: pointer;
  margin: 0 auto;
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: $light-blue-1;
  border: 1px solid $dark-gray-1;
  &::before {
    text-align: center;
  }
  &:hover {
    background-color: $dark-blue-1;
  }

  span {
    position: absolute;
    bottom: 16px;
    left: 57.5px;
    color: $dark-gray-1;
  }
}

@mixin checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  span.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  &:hover input ~ .checkmark {
    background-color: $light-gray-1;
  }

  span.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  input:checked ~ .checkmark:after {
    display: block;
  }

  span.checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}