@mixin small-link {
  cursor: pointer;
  padding: 1rem;
  box-sizing: border-box;
  color: #fff;
  background-color: $dark-orange-1;
  border: 1px solid $dark-orange-1;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  &:hover {
    background-color: $light-orange-1;
  }
}

@mixin large-link {
  @include small-link;
  display: block;
  border: 1px solid $dark-gray-1;
}

@mixin large-link-gray {
  @include large-link;
  background-color: $dark-gray-1;
  &:hover {
    background-color: $light-gray-1;
  }
}

@mixin link-button-gray {
  cursor: pointer;
  display: block;
  color: #fff;
  background-color: $dark-gray-1;
  border: 1px solid $dark-gray-1;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 16px;

  &:hover {
    background-color: $light-gray-1;
  }
}