/**
* This file holds all variables that scss tracks for this application. It is designed
* to be lightweight to decrease time it takes to import this file in other components.
*/

/* Colors */
$dark-blue-1: #343a40;
$dark-orange-1: #ed9143;
$light-orange-1: #edbb9a;
$green-correct: #b7ffaa;
$red-incorrect: #ff9a9a;
