div.user-profile_inner {
  @include large-panel;
  text-align: center;

  div.avatar {
    @include small-avatar;
    margin: 0 auto;
  }

  div.buttons {
    margin-top: 5rem;

    button {

      &.orange {
        @include large-button;
      }

      &.gray {
        @include large-button-gray;
      }

      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }
}
