@import './../../assets/scss/_variables';

div.edit_question_inner {
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 1200px;
  background-color: #fff;
  height: 100%;
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.33) 5px 5px 5px;
}

div.edit_question_back {
  margin-bottom: 2rem;
  a {
    color: #000;
    font-size: 24px;
  }
  h1 {
    margin: 0;
    margin-left: 1rem;
  }
  display: flex;
  align-items: center;
}

div.edit_question_inner form {
  div.input-group {
    label {
      display: block;
      font-size: 16px;
      margin-bottom: 0.5rem;
    }
    input,
    select {
      padding: 0.25rem;
      border-radius: 10px;
      font-size: 24px;
      border: 1px solid #888;
      background-color: #fff;
      width: 100%;
    }
  }
  div.input-group:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  button {
    cursor: pointer;
    width: 100%;
    color: #fff;
    font-size: 16px;
    padding: 1rem;
    background-color: $dark-orange-1;
    border: none;
    border-radius: 15px;
  }
  button:hover {
    background-color: $light-orange-1;
  }
}
