@import './../../assets/scss/_variables';

div.register_container {
  margin-top: 4rem;
}

div.register_inner {
  padding: 2rem;
  margin: 0 auto;
  max-width: 637px;
  background-color: #fefefe;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 5px 5px 5px;
  h1,
  h2,
  p {
    margin: 0;
    margin-bottom: 1rem;
    font-weight: 400;
    text-align: center;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 24px;
  }
  a,
  button {
    display: block;
    color: #fff;
    background-color: $dark-orange-1;
    padding: 1rem;
    font-size: 24px;
    border-radius: 15px;
    width: 100%;
    margin-bottom: 1rem;
    text-decoration: none;
    text-align: center;
  }
  form {
    div.input-group {
      margin-bottom: 1rem;
      label {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 16px;
        font-weight: 300;
        text-align: center;
      }
      input {
        padding: 0.5rem;
        width: 100%;
        border-radius: 15px;
        border: 1px solid #888;
        font-size: 24px;
      }
    }
  }
  p {
    a {
      color: $dark-orange-1;
      display: inline;
      padding: 0;
      background-color: #fff;
      font-size: 16px;
      text-decoration: underline;
    }
  }
  div.back-button {
    a {
      background-color: #888;
    }
  }
}
