.app-content {
  position: relative;
  min-height: calc(100vh - 88px);
  background-image: url('/src/assets/img/forest.png');
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.2);
}

.app-container {
  padding: 1rem;
  @media(max-width: $mobile-width) {
    padding: 0.5rem;
  }
}
