div.select_avatar_container {
  @include backdrop;
}

div.select_avatar_inner {
  @include small-panel;

  h2 {
    margin-bottom: 1rem;
  }

  div.avatars {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;

    div.avatar {
      cursor: pointer;
      height: 100px;
      width: 100px;
      background-color: $light-blue-1;
      border-radius: 50%;
      border: 1px solid $dark-gray-1;

      img {
        height: 100%;
        width: 100%;
      }

      &:hover {
        background-color: $dark-blue-1;

        img {
          opacity: 0.75;
        }
      }
    }
  }

  div.buttons {
    margin-top: 2rem;

    button {
      @include large-button-gray;
    }
  }
}
