div.home-donators_container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.home-donators_inner {
  width: 100%;
  text-align: center;

  h1 {
    font-size: 20px;
    margin-bottom: 1rem;
  }

  div.players {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    div.player-1, div.player-2 {
      margin: 0 auto;
      max-width: 122px;

      div.avatar, div.badge {
        margin: 0 auto;
        margin-bottom: 1rem;
        height: 80px;
        width: 80px;

        @media(max-width: $mobile-width) {
          height: 60px;
          width: 60px;
        }

        img {
          height: 100%;
          width: 100%;
        }
      }

      div.avatar {
        background-color: $light-blue-1;
        border: 1px solid $dark-gray-1;
        border-radius: 50%;
      }

      div.place {
        margin-bottom: .5rem;
        font-size: 20px;
      }

      div.username {
        margin-bottom: .5rem;
        font-size: 12px;
      }

      div.score {
        font-size: 12px;
        color: $dark-gray-1;
      }
    }

    div.player-1 {
      div.avatar {
        height: 122px;
        width: 122px;
      }

      @media(max-width: $mobile-width) {
        div.avatar {
          height: 80px;
          width: 80px;
        }
      }
    }
  }

  a {
    display: block;
    margin-top: 2rem;
    @include small-link;
  }
}
