div.sidebar_container {
  z-index: 500;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: $overlay-gray-1;
  opacity: 1;
}

// Hides .sidebar_container
div.hidden {
  opacity: 0;
  transition: ease 1s;
  pointer-events: none;
  @media(max-width: $mobile-width) {
    transition: ease 0.5s;
  }
}

div.sidebar_inner {
  z-index: 1000;
  background-color: $dark-orange-1;
  box-shadow: rgba(52, 58, 64, 0.55) 5px 5px 25px;
  width: 50vw;
  height: 100%;
  position: absolute;
  left: 0;
  transition: ease 1s;

  @media(max-width: $mobile-width) {
    width: 100vw;
  }

  h1 {
    margin: 0;
  }
}

// Moves .sidebar_inner to the left
div.closed {
  position: absolute;
  left: calc(-100vw);
  transition: ease 1s;
  @media(max-width: $mobile-width) {
    transition: ease 0.5s;
  }
}

div.sidebar_panel {
  max-width: 500px;
  margin: 0 0 0 auto;
  padding: 2rem;
  box-sizing: border-box;
  overflow-y: auto;
  height: 600px;

  div.close {
    cursor: pointer;
    color: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 0.25rem;
    box-sizing: border-box;
    margin-left: 1.33rem;

    svg {
      height: 100%;
      width: 100%;
    }

    &:hover {
      color: $dark-orange-1;
      background-color: #fff;
    }
  }

  a.profile {
    display: block;
    cursor: pointer;
    padding: 2rem 0;
    display: flex;
    align-items: center;
    text-decoration: none;

    div.avatar {
      height: 100px;
      width: 100px;
      border-radius: 50%;
      border: 1px solid $dark-gray-1;
      background-color: #fff;

      img {
        height: 100%;
        width: 100%;
      }
    }

    div.username {
      margin-left: 2rem;
      color: #fff;
      font-size: 32px;
    }

    &:hover {
      div.username {
        text-decoration: underline;
      }
    }
  }

  div.links {
    a.link {
      display: block;
      cursor: pointer;
      max-width: 250px;
      padding: 1rem;
      box-sizing: border-box;
      color: #fff;
      font-size: 24px;
      text-decoration: none;

      &:hover {
        color: $dark-orange-1;
        background-color: #fff;
        border-radius: 20px;
      }

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }
    }

    a.selected {
      color: $dark-orange-1;
      background-color: #fff;
      border-radius: 20px;
    }
  }
}
