@import './../../../assets/scss/_variables';

div.quiz_inner {
  padding: 2rem;
  margin: 0 auto;
  max-width: 696px;
  background-color: #fefefe;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 5px 5px 5px;
}

div.quiz_question {
  margin: 0 auto;
  margin-bottom: 5rem;
  max-width: 450px;
  p {
    font-size: 24px;
    text-align: center;
  }
}

div.quiz_answers {
}
