/* Variables */
@import './__variables';

/* Colors */

/* Components */
@import './navbar/__navbar';
@import './content/__content';
@import './footer/__footer';
@import './animations/__animations';

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  position: relative;
  height: 100%;
  min-height: 100vh;
  margin: 0rem;
  padding: 0rem;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: $light-orange-1;
}

body * {
  box-sizing: border-box;
}
