/* Variables */
@import '../__variables';
/* Mixins */
@import './mixins/buttons';
@import './mixins/inputs';
@import './mixins/links';
@import './mixins/panels';
/* Components */
@import './navbar/__navbar';
@import './content/__content';
@import './footer/__footer';
@import './animations/__animations';
/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  overflow: hidden;
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: $light-orange-1;
}

body * {
  box-sizing: border-box;
}
